<p>order-details works!</p>

<style>
    .orderDetail {
        border-bottom: 1px dashed #999;
        border-top: 1px dashed #999;
        padding: 5%;
    }
</style>
<mat-card>
    <div>
        <h1>Package Details!</h1>
    </div>
    <div class="details-container">

        <div class="common-details">
            <div>
                <h3>Package details</h3>
                <div>
                    <h4>LAPTOP</h4>
                    <p>{{orderToppings}}</p>
                    <p>QTY: {{order.Quantity}}</p>
                </div>
            </div>


            <div class="orderDetail">
                <h5>Delivery</h5>
                <p>Free delivery within 1hour or you don't have to pay.</p>
            </div>

            <div>
                <p>Total price</p>
                <p class="commonColor">${{order.Total}}</p>
            </div>


        </div>

        <div class="shippingDetails common-details">
            <h3>Shipping information</h3>
            <input class="streetAddress" matInput type="text" placeholder='Street name and number' [(ngModel)]="discountCode">
            <div class="flex-container">
                <input matInput type="text" placeholder='City' [(ngModel)]="discountCode">
                <input class="postal-codee" matInput type="text" placeholder='Postal Code' [(ngModel)]="discountCode">
            </div>
            <input class="country" matInput type="text" placeholder='Country' [(ngModel)]="discountCode">
            <div>
                <h3>Payment details</h3>
                <p>Cash on delivery</p>
            </div>

            <button matButton (click)="finishOrderingPizza()">Finish Order</button>

        </div>



    </div>
</mat-card>